/* HopInCraftbier custom css */
#tile-slider-wACrSp {
    div.ins-tile__wrap {
        max-width:86%;
        border-radius: 20px;
        div.ins-tile__body {
            min-height: 0;
        }
    }
}
