/* HopInCraftbier custom css v3.19 */
#tile-product-details div.ins-tile__wrap {
    margin-top: 30px;
    min-width: 80%
}
/* pagination */
div.pager__body {
    .pager__number, .pager__button {
        background-color: white !important;
        border-radius: 6px;
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1) !important;
        border: 1px solid lightgray;
        margin-left: 2px !important;
        margin-right: 2px !important;
    }
    .pager__number--current {
        background-color: #f7f5c6 !important;
    }
    .pager__button--prev {
        padding-right: 10px !important;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .pager__button--next {
        padding-left: 10px !important;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}
@media screen and (max-width: 555px) {
    div.pager__body {
        .pager__button {
            min-height: 28.4px;
        }
        .pager__button--prev {
            padding-right: 3px !important;
        }
        .pager__button--next {
            padding-left: 3px !important;
        }
    }
}

/* breadcrumb */
.ec-size .ec-store div.product-details__navigation {
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.ec-size .ec-store div.ec-breadcrumbs {
    .breadcrumbs__link::before, .breadcrumbs__link::after {
        content: "";
        position: absolute;
        left: 0;
        height: 50%;
        width: 100%;
        background: #f7f5c6;
        z-index: -1;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
    }

    .breadcrumbs__link::before {
        top: 0;
        transform: skew(20deg);
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -ms-transform: skew(20deg);
        -o-transform: skew(20deg);
        -khtml-transform: skew(20deg);
        border-top: 1px solid lightgray;
    }

    .breadcrumbs__link::after {
        bottom: 0;
        transform: skew(-20deg);
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        -khtml-transform: skew(-20deg);
        border-bottom: 1px solid lightgray;
    }

    .breadcrumbs__link:last-child a {
        cursor: default;
    }

    .breadcrumbs__link:last-child::before, .breadcrumbs__link:last-child::after {
        background: white;
    }

    .breadcrumbs__link:not(:last-child):hover::before, .breadcrumbs__link:not(:last-child):hover::after {
        background: white;
    }

    a.breadcrumbs__link {
        display: inline-block;
        position: relative;
        line-height: 2.5;
        padding: 0 20px;
        color: black;
        text-decoration: none;
        font-size: 14px;
        margin-right: 2px;
        z-index: 0;
    }

    .breadcrumbs__delimiter {
        display: none;
    }
    a:nth-child(3) {
        display: none !important;
    }
}
/* == start recently visited products ==*/
#rvp-products #rvp-products-wrapper #recently-viewed-list {
    .recently-viewed__name, .recently-viewed__price {
        font-family: system-ui, Ubuntu;
        font-size: 14px !important;
        font-weight: bold !important;
        color: #191919 !important;
    }
    .recently-viewed:hover {
        background-color: rgba(0, 0, 0, 0.04) !important;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1) !important;
    }

    .recently-viewed .recently-viewed__thumb {
        height: 100px !important;
    }
}
/* == end recently visited products ==*/
/* == start product - category page == */
.ec-size .ec-store .grid__sort {
    text-align: left;
    padding-top: 40px;
}
.ec-size.ec-size--l .ec-store .ec-filters--inline .ec-filter__name {
    font-size: 14px;
}

.ec-size.ec-size--l .ec-store .ec-filters .ec-filter {
    font-size: 14px;
    border: 1px solid lightgray;
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    margin-bottom: 10px;

    .ec-filter__body {
        padding-left: 10px !important;
        .ec-openable-block--opened {
            margin-top: 5px;
        }
        .form-control__placeholder-inner {
            font-size: 14px;
        }

        .ec-filter__items:not(.ec-filter__items--full-height)::after {
            background-image: none;
        }

        .ec-filter__items-inner {
            padding-top: 5px;
            margin-bottom: 0;
        }
    }
    .ec-filter__head {
        padding-right: 10px;
        background: rgb(247, 245, 198, 0.6);
        padding-left: 10px;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid lightgray;
    }
}

/* beerstijl cat */
div.ec-store__category-page--176888061 div.grid-category__title-inner {
    color: black;
}
/* default to 4 cols in grid */
.ec-size .ec-store .grid__products .grid-product:nth-child(n + 1) {
    width: 25% !important;
}
.ec-size .ec-store .grid__products {
    flex: 1 1 auto;

    .grid-product {
        float: left;
        position: relative;
        min-height: 1px;
        padding: 0 12px 25px 13px;
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        display: block;
        font-family: Ubuntu, Muli, sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        .grid-product__price {
            .grid-product__textblock.grid-product__price-label {
                display: inline-block !important;
                font-family: 'Bangers', system-ui;
                font-weight: 400;
                color: red;
                letter-spacing: 1px;
                font-size: 16px;
                transform: translateY(5px) rotate(-25deg);
                -webkit-transform: translateY(5px) rotate(-25deg);
                -moz-transform: translateY(5px) rotate(-25deg);
                -ms-transform: translateY(5px) rotate(-25deg);
                -o-transform: translateY(5px) rotate(-25deg);
                -khtml-transform: translateY(5px) rotate(-25deg);
                padding-left: 15px !important;
            }
            .grid-product__price-value {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .grid-product__button {
            padding-bottom: 0.7em !important;
            padding-top: 0.5em !important;
            margin: auto;

            .form-control__button {
                padding: 0.6em 2em;
                font-size: 14px;
                letter-spacing: 2.5px;
                font-weight: 700;
                color: #000;
                background-color: #fff;
                border: 1px solid lightgray;
                border-radius: 15px;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
            }
            .form-control__button:hover {
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
                transform: translateY(-7px);
                -webkit-transform: translateY(-7px);
                -moz-transform: translateY(-7px);
                -ms-transform: translateY(-7px);
                -o-transform: translateY(-7px);
                -khtml-transform: translateY(-7px);
            }
            .form-control__button:active {
                transform: translateY(-1px);
                -webkit-transform: translateY(-1px);
                -moz-transform: translateY(-1px);
                -ms-transform: translateY(-1px);
                -o-transform: translateY(-1px);
                -khtml-transform: translateY(-1px);
            }
        }

        .grid-product__shadow {
            display: none !important;
        }

        .grid-product__wrap {
            padding: 0;
            height: 100%;
        }

        .grid-product__wrap-inner {
            background-color: #fff !important;
            border-radius: 6px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
            position: relative;
            margin: 20px auto;
        }

        .grid-product__image-wrap {
            position: absolute;
            transition: all 0.2s ease-in-out;
            top: 0;
            padding: 5%;
            width: 100%;
        }
        .grid-product__label {
            margin-top: 10px;
            padding-right: 5%;
            padding-top: 5%;
        }

        .grid-product__image-wrap img {
            width: 90% !important;
            height: auto;
            transition: all 0.2s ease-in-out;
            border-radius: 6px;
            background: lightgray;
            margin: 0 !important;
            padding-top: 12.5%;
            padding-bottom: 25%;
            margin-bottom: 12.5% !important;
        }

        .grid-product__wrap-inner:hover {
            background-color: #fff !important;
        }

        .grid-product__wrap-inner:hover .grid-product__image-wrap {
            top: -30px;
        }

        .grid-product__wrap-inner:hover .grid-product__image-wrap img {
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
            transform: scale(1.02) !important;
            -webkit-transform: scale(1.02) !important;
            -moz-transform: scale(1.02) !important;
            -ms-transform: scale(1.02) !important;
            -o-transform: scale(1.02) !important;
            -khtml-transform: scale(1.02) !important;

        }

        .grid-product__hover-wrap {
            padding-top: 150%;
        }

        .grid-product__subtitle {
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
        }

        .grid-product__subtitle > * {
            position: absolute;
            left: 15%;
            transform: translate(0%, -150%);
            -webkit-transform: translate(0%, -150%);
            -moz-transform: translate(0%, -150%);
            -ms-transform: translate(0%, -150%);
            -o-transform: translate(0%, -150%);
            -khtml-transform: translate(0%, -150%);
        }

        .grid-product__subtitle > div {
            padding: 12px 0;
            border: 1px solid #313131;
            background: #212121;
            color: #fff;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.22);
            border-radius: 27px;
            transition: all 0.05s ease-in-out;
            width: 70%;
        }

        .grid-product__wrap-inner:hover .grid-product__subtitle {
            margin-top: 0;
        }

        .grid-product__wrap-inner:hover .grid-product__subtitle > div {
            border-color: #ddd;
            box-shadow: none;
            padding: 11px 0;
            width: 70%;
        }
    }
}

.ec-size .ec-store .grid__categories .grid-category:nth-child(n + 1) {
    width: 20% !important;
}
/* == end product - category page == */
/* == start privacy & alg vwd page == */
.ins-tile--image-text .ins-tile__wrap {
    margin-top: 30px;
}
.ins-tile--text .ins-tile__wrap {
    margin-top: 30px;
}
.ins-tile--feature-list.ins-tile--accordion .ins-tile__wrap {
    margin-top: 0;
}
#tile-text-foXha9 div.ins-tile__wrap {
    margin-bottom: 0;
}
#tile-feature-list-PfAaRA div.ins-tile__wrap {
    margin-bottom: 20px;
}
#tile-image-text-JSvjVt, #tile-text-QTyC9X, #text-b2c9Gv {
    div.ins-tile__wrap {
        margin-top: 2%;
    }
}
#tile-feature-list-zk8ghR, #tile-feature-list-6cpbDx {
    div.ins-tile__wrap {
        margin-bottom: 2%;
    }
}
#tile-feature-list-qNFye5 {
    div.ins-tile__wrap {
        margin-bottom: 0;
    }
}
/* == end privacy page == */

/* == start delivery == */
#tile-location-aAsHPC div.ins-tile__wrap {
    margin-top: 20px;
}
#tile-feature-list-fjNnsD div.ins-tile__wrap {
    margin-bottom: 20px;
}
/* == end delivery == */

/* == start cart == */
div.ecwid-checkout-notice > div {
    margin: auto;
    font-size: 14px;
}
div.ec-cart-step--address {
    div.ecwid-checkout-notice {
        margin-bottom: 0.5em !important;
    }
    div#deliveryInfoOnSection {
        margin-top: 0.5em;
    }
}
#tile-product-details:has(div.ecwid-productBrowser-CartPage),
#tile-product-details:has(div.ec-store__checkout-page),
#tile-product-details:has(div.ec-store__confirmation-page),
#tile-product-details:has(div.ecwid-productBrowser-ProductPage),
#tile-product-details:has(div.ecwid-productBrowser-CategoryPage),
#tile-product-details:has(div.ecwid-productBrowser-AccountRootPage),
#tile-product-details:has(div.ecwid-productBrowser-SearchPage) {
    background-color: #f7f5c666;
    div.ecwid-productBrowser {
        background-color: transparent;
    }
    div.ec-cart.ec-cart--empty {
        background-color: transparent !important;
    }
    div.ecwid-productBrowser-ProductPage div.product-details {
        div.product-details__gallery, div.product-details__description, div.product-details__sidebar {
            background-color: white;
        }
    }
}
div.ec-cart {
    div.ec-cart__discount--focus div.ec-cart-discount-group {
        div.ec-cart-discount-group__coupon:before {
            content: 'Kortingscode / Coupon code';
        }
        div.ec-cart-discount-group__giftcard:before {
            content: 'Cadeaubon / Gift card code';
        }
    }
    div.ec-cart-discount-group {
        form.ec-cart-coupon__input div.form-control {
            border-radius: 5px;
            input.form-control__text {
                border-radius: 5px;
            }
        }
        div.ec-cart-coupon__buttons button.form-control__button {
            border-radius: 5px;
        }
    }
    input, textarea {
        background-color: rgb(230, 233, 235, 70%) !important;
    }
    div.ec-cart__sidebar {
        background-color: #F9F9F9;
        border-radius: 8px;
        margin-right: 10px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
        padding: 24px;
    }
    div.ec-cart__body {
        background-color: #F9F9F9;
        border-radius: 8px;
        margin-left: 10px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
        padding: 24px;
    }
}
div.ec-store__content-wrapper div.product-details {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 63% 0 32%;
    div.product-details__gallery {
        grid-column: 1 / 3;
        grid-row: 1;
        width: 100% !important;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px 15px;
        margin-bottom: 0 !important;
        .details-gallery__scroll {
            padding-top: 0;
        }
    }
    div.product-details__sidebar {
        grid-column: 3;
        grid-row: 1 / 3;
        width: 100% !important;
        padding: 15px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    div.product-details__description {
        grid-column: 1 / 3;
        grid-row: 2;
        width: 100% !important;
        min-width: 100% !important;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px !important;
        padding: 15px;
        border-radius: 8px;
    }
}
label.ec-radiogroup__item--PayPal div.ec-radiogroup__info div.ec-cart-accept__icons div img:nth-last-child(-n + 3) {
    display:none;
}
div.ec-cart-accept__icons div.ecwid-paymentMultiSafepay::before {
    content: "";
    background-size: 450px 51px;
    width: 450px;
    height: 51px;
    background-image: url("https://d2j6dbq0eux0bg.cloudfront.net/images/112251271/4916197480.png");
}
div.ecwid-paymentMultiSafepay img {
    display:none;
}
/* == end cart == */
.ec-store.ec-store__product-page {
    .details-product-attribute:nth-child(1) {
        display:none !important;
    }
    .details-product-attribute:nth-child(2) {
        display:none !important;
    }
    .details-product-attribute:nth-child(3) {
        display:none !important;
    }
    .details-product-attribute {
        width: 100%;
        display: flex;
    }
    .product-details__product-attributes {
        border-bottom: 2px solid #009879;
        border-top: 2px solid #009879;
        div:nth-of-type(even) {
            background-color: #f3f3f3;
        }
    }
    .details-product-attribute .details-product-attribute__title {
        font-size: 14px;
        min-width: 25%;
        display: flex;
        justify-content: flex-start;
        font-weight: 700;
        padding-left: 5px;
    }
    .details-product-attribute .details-product-attribute__value {
        font-size: 14px;
    }
    .product-details-module.product-details__general-info {
        width: 100%;
        .product-details-module__content {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            .product-details__product-attributes {
                order: 1;
                width: 100%;
                flex-grow: 1;
            }
            .product-details__product-description {
                order: 2;
                width: 100%;
                font-size: 14px;
                flex-grow: 1;
            }
        }
    }
}

/* discount table */
div.ins-tile__product-item--small.ins-tile__product-item.ins-tile__item:nth-child(n+11) {
    display: none;
}
.question {
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='M512 938.666667c235.648 0 426.666667-191.018667 426.666667-426.666667S747.648 85.333333 512 85.333333 85.333333 276.352 85.333333 512s191.018667 426.666667 426.666667 426.666667z m0 85.333333C229.248 1024 0 794.752 0 512S229.248 0 512 0s512 229.248 512 512-229.248 512-512 512z' fill='%233D3D3D' /><path d='M520.96 232.106667c-62.293333 0-111.786667 17.92-147.626667 54.613333-36.693333 35.84-54.613333 84.48-54.613333 146.773333h90.453333c0-37.546667 7.68-67.413333 23.04-87.893333 17.066667-23.893333 45.226667-35.84 83.626667-35.84 30.72 0 54.613333 8.533333 71.68 25.6 16.213333 17.066667 24.746667 40.106667 24.746667 69.973333 0 22.186667-7.68 42.666667-23.04 62.293334l-14.506667 16.213333c-52.906667 46.933333-85.333333 81.92-97.28 105.813333-11.093333 22.186667-16.213333 49.493333-16.213333 81.066667v14.506667h91.306666v-14.506667c0-21.333333 4.266667-40.106667 13.653334-57.173333 7.68-15.36 19.626667-29.866667 34.986666-43.52 40.96-34.986667 64.853333-57.173333 72.533334-66.56 20.48-27.306667 31.573333-62.293333 31.573333-104.106667 0-51.2-17.066667-92.16-50.346667-122.026667-34.133333-30.72-78.506667-45.226667-133.973333-45.226666z m-14.506667 499.2c-17.92 0-32.426667 5.12-43.52 17.066666-12.8 11.093333-18.773333 25.6-18.773333 43.52 0 17.066667 5.973333 31.573333 18.773333 43.52 11.093333 11.946667 25.6 17.92 43.52 17.92 17.066667 0 32.426667-5.973333 45.226667-17.066666 11.946667-11.946667 17.92-26.453333 17.92-44.373334 0-17.92-5.973333-32.426667-17.92-43.52-11.946667-11.946667-27.306667-17.066667-45.226667-17.066666z' fill='%233D3D3D' /></svg>") no-repeat right bottom !important;
    height: 14px !important;
}
.discount-table {
    width: 100%;
    border-collapse:collapse;
    margin:2px 0 25px 0 !important;
    font-size:12px !important;
    font-family: system-ui, Ubuntu;
    min-width:300px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.15) !important;
}
.discount-table thead tr {
    background-color:#009879 !important;
    color:#ffffff !important;
    text-align:left !important;
}
.discount-table thead tr.first_header th {
    padding: 2px 0 !important;
}
.discount-table th,
.discount-table td {
    padding:0 15px 5px 15px !important;
    text-align:center !important;
}
.discount-table tbody tr {
    border-bottom:1px solid #dddddd !important;
}
.discount-table tbody tr:nth-of-type(even) {
    background-color:#f3f3f3 !important;
}
.discount-table tbody tr:last-of-type {
    border-bottom:2px solid #009879 !important;
}
.discount-table td:nth-child(1) {
    font-weight:700 !important;
    text-align:left !important;
    padding:5px 15px !important;
}
.dtooltip {
    position: relative;
    display: inline-block;
    font-size: 14px !important;
}
.dtooltip .dtooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin:15px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 20px 0 black !important;
}
.dtooltip:hover .dtooltiptext {
    visibility: visible;
}
.hover {
    padding-right: 20px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.exclamation {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'  fill='%23EB5454' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512 512'><path d='M256 0c70.686 0 134.69 28.658 181.016 74.984C483.342 121.31 512 185.314 512 256c0 70.686-28.658 134.69-74.984 181.016C390.69 483.342 326.686 512 256 512c-70.686 0-134.69-28.658-181.016-74.984C28.658 390.69 0 326.686 0 256c0-70.686 28.658-134.69 74.984-181.016C121.31 28.658 185.314 0 256 0zm19.546 302.281c-.88 22.063-38.246 22.092-39.099-.007-3.779-37.804-13.444-127.553-13.136-163.074.312-10.946 9.383-17.426 20.99-19.898 3.578-.765 7.512-1.136 11.476-1.132 3.987.007 7.932.4 11.514 1.165 11.989 2.554 21.402 9.301 21.398 20.444l-.044 1.117-13.099 161.385zM256 341.492c14.453 0 26.168 11.717 26.168 26.171 0 14.453-11.715 26.167-26.168 26.167s-26.171-11.714-26.171-26.167c0-14.454 11.718-26.171 26.171-26.171zm0-312.028c125.114 0 226.536 101.422 226.536 226.536S381.114 482.536 256 482.536 29.464 381.114 29.464 256 130.886 29.464 256 29.464z'/></svg>") no-repeat left bottom !important;
    height: 20px !important;
}
div.details-product-price-compare__container {
    span.product-details__product-price-discount {
        display: inline-block;
        padding-left: 50px;
        transform: translateY(-10px) rotate(-25deg);
        -webkit-transform: translateY(-10px) rotate(-25deg);
        -moz-transform: translateY(-10px) rotate(-25deg);
        -ms-transform: translateY(-10px) rotate(-25deg);
        -o-transform: translateY(-10px) rotate(-25deg);
        -khtml-transform: translateY(-10px) rotate(-25deg);
        span.details-product-price-discount__text, span.details-product-price-discount__value {
            font-family: "Bangers", system-ui;
            font-size: 20px;
            color: red;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .ec-size .ec-store .grid__products .grid-product:nth-child(n + 1) {
        width: 33% !important;
    }
    .ec-size .ec-store .grid__categories .grid-category:nth-child(n + 1) {
        width: 33% !important;
    }
    .ec-store.ec-store__product-page .details-product-attribute .details-product-attribute__title {
        min-width: 30%;
    }
    div.ec-store__content-wrapper div.product-details {
        grid-gap: 25px;
        grid-template-columns: 55% 0 40%;
    }
}
@media screen and (max-width: 935px) {
    .ec-store.ec-store__product-page .details-product-attribute .details-product-attribute__title {
        min-width: 35%;
    }
}
@media screen and (max-width: 800px) {
    .ec-size .ec-store .grid__products .grid-product:nth-child(n + 1) {
        width: 50% !important;
    }
    .ec-size .ec-store .grid__categories .grid-category:nth-child(n + 1) {
        width: 50% !important;
    }
    div.ec-store__content-wrapper div.product-details {
        grid-gap: 20px;
        grid-template-columns: 50% 0 45%;
    }
}
@media screen and (max-width: 750px) {
    .ec-store.ec-store__product-page .details-product-attribute .details-product-attribute__title {
        min-width: 45%;
    }
    div.ec-store__content-wrapper div.product-details {
        display: block;
        div.product-details__gallery {
            margin-bottom: 15px !important;
        }
        div.product-details__description {
            margin-top: 15px !important;
        }
    }
}
@media screen and (max-width: 615px) {
    .ec-store.ec-store__product-page .details-product-attribute .details-product-attribute__title {
        min-width: 35%;
    }
}
@media screen and (max-width: 555px) {
    div.ec-cart {
        div.ec-cart__sidebar {
            margin-right: 0;
        }

        div.ec-cart__body {
            margin-top: 15px;
            margin-left: 0;
        }
    }
}
.ec-size:not(.ec-size--s) .ec-store.ec-store__account-page .ec-cart-step--bag,.ec-size:not(.ec-size--s) .ec-store.ec-store__account-page .ec-cart-step--favorites {
    display:block;
}
